.footer {
  background: var(--header-bg) url('../img/footer-bg.png') no-repeat 0 bottom / cover;
  padding-block: 1.875rem; /* 30/16 */
  line-height: 1.1;
}
.footer__container {
  max-inline-size: 79.375rem;
}
.footer__top {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
  margin-block-end: 1.875rem; /* 30/16 */
}
.footer__item {
}
.footer__item:first-child {
  max-inline-size: 14.25rem;
}

.footer__logo {
  max-inline-size: 13.25rem; /* 212/16 */
  aspect-ratio: 877 / 150;
  margin-block-end: 1.25rem; /* 20/16 */
}
.footer__text {
  font-size: 1.125rem; /* 18/16 */
}
.footer__title {
  margin-block-end: 1.25rem; /* 20/16 */
  font-size: 1.375rem; /* 22/16 */
  font-weight: 600;
}
.footer__list {
  font-size: 1.25rem; /* 20/16 */
}
.footer__list li:not(:last-child) {
  margin-block-end: 0.375rem; /* 6/16 */
}
.footer__list a,
.footer__body a {
  transition: color 0.3s ease;
}
.footer__address {
  margin-block-end: 1rem;
}
.footer__icons {
  display: flex;
  column-gap: 1.875rem; /* 30/16 */
}
.footer__icon--instagram {
  max-inline-size: 2rem; /* 32/16 */
  aspect-ratio: 32 / 31;
}
.footer__icon--facebook {
  max-inline-size: 1.9375rem; /* 31/16 */
  aspect-ratio: 31 / 32;
}
.footer__icon--twitter {
  max-inline-size: 2.125rem; /* 34/16 */
  aspect-ratio: 34 / 31;
}
.footer__icon--youtube {
  max-inline-size: 2.5625rem; /* 41/16 */
  aspect-ratio: 41 / 29;
}
.footer__body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  column-gap: 1.25rem; /* 20/16 */
  row-gap: 1rem;
  font-size: 1.25rem; /* 20/16 */
  font-weight: 600;
  margin-block-end: 1.875rem; /* 30/16 */
}
.footer__copyright {
  font-weight: 300;
  text-align: center;
}
@media (any-hover: hover) {
  .footer__list a:hover,
  .footer__body a:hover {
    color: var(--header-btn);
  }
  .footer__list a:active,
  .footer__body a:active {
    color: var(--primary-text);
  }
}
@media (min-width: 52.4988em) {
  .footer__item:last-child {
    justify-self: end;
  }
}
@media (max-width: 52.4988em) {
  .footer__top {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__item:last-child {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
@media (max-width: 29.9988em) {
  .footer__top {
    grid-template-columns: 1fr;
  }
  .footer__body {
    font-size: 1.125rem;
  }
}
